<section>
  <!-- Student Profile -->
  <div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img
                class="profile_img"
                [src]="
                  'data:image/' +
                    Student.image.contentType +
                    ';base64,' +
                    Student.imageUrl | safe
                "
                alt="student dp"
              />
              <form *ngIf="showEditButton" [formGroup]="photoUpdateForm" (ngSubmit)="add_pic()">
                <div class="form-group">
                  <input
                    *ngIf="changephoto"
                    type="file"
                    width="150px"
                    class="form-control"
                    placeholder="Upload image"
                    (change)="selectImage($event)"
                    accept="image/png, image/gif, image/jpeg"
                    required
                  />
                </div>
                <input
                  
                  (click)="changeOption()"
                  style="width: 100px"
                  class="btn btn-sm btn-success"
                  type="submit"
                  value="change"
                />
              </form>
              <!-- <button
                *ngIf="changephoto"
                (click)="changeOption()"
                style="width: 100px"
                class="btn btn-sm btn-success"
                type="button"
              >
                change
              </button> -->

              <h3>{{ Student.Name }}</h3>
            </div>
            <div class="card-body">
              <p class="mb-0">
                <strong class="pr-1">Student ID:</strong>321000001
              </p>
              <p class="mb-0"><strong class="pr-1">Batch:</strong>Mean-Stack</p>
              <p class="mb-0"><strong class="pr-1">Section:</strong>Retail</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">
                <i class="fa fa-address-card mr-1"></i>General Information
              </h3>
            </div>
            <!-- <form (ngSubmit)="updateProfile()"> -->
            <form [formGroup]="studentUpdateForm" (ngSubmit)="updateStudent()">
              <div class="card-body pt-0">
                <table class="table table-bordered table-responsive">
                  <tr>
                    <th width="30%">Student Name</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        type="text"
                        [value]="Student.Name"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Email</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        type="text"
                        formControlName="Email"
                        [value]="Student.Email"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Phone</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        type="text"
                        formControlName="Phone"
                        [value]="Student.Phone"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Date Of Birth</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <!-- <p *ngIf="readonly"> {{ Student.DOB | date  }} </p> -->

                      <input
                        formControlName="DOB"
                        [value]="Student.DOB"
                        onfocus="(this.type='date')"
                        onblur="(this.type='text')"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">State</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        formControlName="State"
                        [value]="Student.State"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>

                  <tr>
                    <th width="30%">Highest Qualification</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        formControlName="HighestQualification"
                        [value]="Student.HighestQualification"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Pass Out Year</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        formControlName="PassOfYear"
                        type="number"
                        min="2010"
                        max="2021"
                        step="1"
                        [value]="Student.PassOfYear"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Skill Set</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        formControlName="SkillSet"
                        type="text"
                        [value]="Student.SkillSet"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Employment Status</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="readonly == false">
                      <input
                        formControlName="EmploymentStatus"
                        type="text"
                        [value]="Student.EmploymentStatus"
                        [ngClass]="{
                          inputFocus: !readonly,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Technology Training</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        formControlName="Course"
                        type="text"
                        [value]="Student.Course"
                        [ngClass]="{
                          inputFocus: !readonly,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th width="30%">Password</th>
                    <td width="2%">:</td>
                    <td [class.editModeOn]="!readonly">
                      <input
                        formControlName="Password"
                        type="text"
                        [value]="Student.Password"
                        [ngClass]="{
                          inputFocus: readonly == false,
                          inputBorderAtReadOnly: readonly
                        }"
                        [readonly]="readonly"
                      />
                    </td>
                  </tr>
                </table>
                <div *ngIf="readonly">
                  <button *ngIf="showEditButton" (click)="update()" class="btn btn-sm btn-warning">
                    Update
                  </button>
                  <button *ngIf="showDeleteButton"
                    type="button"
                    (click)="deleteProfile()"
                    class="btn btn-sm btn-danger"
                  >
                    Delete
                  </button>
                </div>
                
                <div *ngIf="!readonly">
                  <button *ngIf="showEditButton" class="btn btn-success btn-sm">Save</button>
                  <button *ngIf="showEditButton"
                    type="button"
                    (click)="discard()"
                    class="btn btn-info btn-sm"
                  >
                    Discard
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
</section>
