#section {
    margin: 0;
    margin-top: 3.74rem;
  
    background: #67b26f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4ca2cd,
      #67b26f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4ca2cd,
      #67b26f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    
    font-family: "Lato", sans-serif;
    color: #000;
  }
  
  .student-profile .card {
    border-radius: 10px;
  }
  
  .student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
  }
  
  .student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .student-profile .card p {
    font-size: 16px;
    color: #000;
  }
  
  .student-profile .table th,
  .student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
  }
  input {
    width: 100%;
    border-collapse: collapse;
  }
  .noBorder:focus {
    outline: none;
  }
  .noBorder {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }
  .Border {
    border-style: hidden;
    outline: yellow;
    background-color: aquamarine;
  }
  .editModeOn {
    background-color: azure;
  }
  