<section id="section">
  <div class="form-gap"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center" style="text-align: center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Forgot Password?</h2>
              <div *ngIf="isLoading" style="text-align: center">
                <app-loading-spinner></app-loading-spinner>
              </div>
              <p>You can reset your Password here.</p>
              <div class="panel-body">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-envelope" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address"
                      formControlName="Email"
                      aria-label="Email"
                      aria-describedby="basic-addon1"
                    />
                    <span class="help-block" *ngIf="isValid('Email')"
                      >Enter Valid Email</span
                    >
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i
                          class="fa fa-calendar-check-o"
                          aria-hidden="true"
                        ></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      formControlName="DOB"
                      min="1990-01-01"
                      max="2000-01-01"
                      onfocus="(this.type='date')"
                      onblur="(this.type='text')"
                      placeholder="Birth Date"
                      formControlName="DOB"
                      aria-label="Date"
                      aria-describedby="basic-addon1"
                    />
                    <span class="help-block" *ngIf="isValid('DOB')"
                      >D.O.B cannot be blank</span
                    >
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-key" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="New Password"
                      formControlName="Password"
                      aria-label="New Password"
                      aria-describedby="basic-addon1"
                    />
                    <span class="help-block" *ngIf="isValid('Password')"
                      >Enter Valid Password</span
                    >
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-key" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input
                      type="Password"
                      class="form-control"
                      placeholder="confirm Password"
                      formControlName="CPassword"
                      aria-label="Cpass"
                      aria-describedby="basic-addon1"
                    />
                    <span class="help-block" *ngIf="isValid('CPassword')"
                      >password mismatch</span
                    >
                  </div>

                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">
                      Recover-Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
