<div class="boy">
  <div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="resetform"></span>

        <!-- form card reset -->
        <div class="girl">
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Reset Password</h3>
            </div>
            <div class="card-body">
              <form [formGroup]="resetForm">
                <div class="form-group">
                  <label for="email"><b>Email:</b> </label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    formControlName="Email"
                    minlength="8"
                    required
                  />

                <span class="help-block" *ngIf="isValid('Email')">Enter Valid Email</span>

                </div>
                <br />
                <!-- <div class="form-group">
                  <label><b>Date Of Birth:</b></label>
                  <input
                    type="number"
                    class="form-control"
                    name="dob"
                    minlength="8"
                    required
                  />
                </div> -->
                <br />
                <div class="form-group">
                  <label><b>New Password:</b></label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    formControlName="Password"
                    minlength="8"
                    required
                />

                <span class="help-block" *ngIf="isValid('Password')">Enter Valid Password</span>

                </div>
                <br />
                <div class="form-group">
                  <label><b>Confirm Password:</b></label>
                  <input
                    type="password"
                    class="form-control"
                    name="cpass"
                    formControlName="CPassword"
                    minlength="8"
                    required
                  />

                <span class="help-block" *ngIf="isValid('CPassword')">confirm password mismatch </span>

                </div>
                <button
                  type="submit"
                  class="btn btn-success float-right"
                  (click)="onSubmit()"
                >
                  Save
                </button>
              </form>
            </div>
            <!--/card-block-->
          </div>
        </div>
        <!-- /form card reset -->
      </div>
    </div>
  </div>
</div>
