<div class="container-fluid">
  <h4>Waiting For Approval</h4>
<table #dataTable id="display" class="table table-hover
        table-primary
        table-responsive-sm
        table-responsive-md
        table-responsive-lg" width="100%">
  <thead class="bg-primary">
      <tr>
          <th>Image</th>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Course</th>
          <th>Highest Qualification</th>
          <th>Skill Set</th>
          <th>Pass Out Year</th>
          <th>Employment Status</th>
          <th>State</th>
          <th>District</th>
          <th>Post</th>
          <th>PinCode</th>
          <th>Status</th>
          <th>Created Date</th>
         <th>Exit Exam Mark</th>
          <th></th>
      </tr>
      <tr>
          <th>Image</th>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Course</th>
          <th>Highest Qualification</th>
          <th>Skill Set</th>
          <th>Pass Out Year</th>
          <th>Employment Status</th>
          <th>State</th>
          <th>District</th>
          <th>Post</th>
          <th>PinCode</th>
          <th>Status</th>
          <th>Created Date</th>
         <th>Exit Exam Mark</th>
          <th></th>
      </tr>
  </thead>
</table>
<button (click)="generateCSV()" class="btn btn-block btn-primary">Generate Report</button>
</div>