.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  h4{
      text-align: center;
      color: white;
      background: linear-gradient(45deg, #4e6b60, #1dc8cd);
  }
.container-fluid{
    margin-top: 70px;
}
  #display{
      width: 100%;
      min-height:480px;
  }
  #display thead th{
      border-bottom: 0;
      color:white;
      text-align: center;
  }
  #display thead{
    background: linear-gradient(45deg, #1de099, #1dc8cd);
  }

  #display thead th input{
      border-radius: 30px;
  }

tr{
    box-shadow: white;
}