<div class="card">
  <div class="card-header">
    <h2>Admin Page</h2>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <h4>Students List</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Sl.no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Qualification</th>
            <th>Applied Course</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Dinil</td>
            <td>39</td>
            <td>Male</td>
            <td>MCA</td>
            <td>FSD</td>
            <td>Active</td>
            <td>
              <button
                class="btn btn-warning"
                style="cursor: pointer"
                style="margin-left: 20px"
              >
                View
              </button>
              <button class="btn btn-danger" style="cursor: pointer">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Dinil</td>
            <td>39</td>
            <td>Male</td>
            <td>MCA</td>
            <td>FSD</td>
            <td>Active</td>
            <td>
              <button
                class="btn btn-warning"
                style="cursor: pointer"
                style="margin-left: 20px"
              >
                View
              </button>
              <button class="btn btn-danger" style="cursor: pointer">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Dinil</td>
            <td>39</td>
            <td>Male</td>
            <td>MCA</td>
            <td>FSD</td>
            <td>Active</td>
            <td>
              <button
                class="btn btn-warning"
                style="cursor: pointer"
                style="margin-left: 20px"
              >
                View
              </button>
              <button class="btn btn-danger" style="cursor: pointer">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Dinil</td>
            <td>39</td>
            <td>Male</td>
            <td>MCA</td>
            <td>FSD</td>
            <td>Active</td>
            <td>
              <button
                class="btn btn-warning"
                style="cursor: pointer"
                style="margin-left: 20px"
              >
                View
              </button>
              <button class="btn btn-danger" style="cursor: pointer">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
