<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>You are just one step away from walking with us!</p>
      <button type="submit"><a routerLink="/login">login</a></button>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-9 register-right">
      <ul
        style="width: 200px"
        class="nav nav-tabs nav-justified"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            routerLink="/register"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Student</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            routerLink="/employeeregister"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Employee</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- form of studentts -->
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="register-heading">Enrollment Form</h3>
          <!-- loading spinner -->
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
 
          <!-- form open -->
          <form [formGroup]="registerForm" (ngSubmit)="registerStudent()">
            <div class="row register-form">
              <!-- open -->
              <!-- left Gride -->
              <div class="col-md-6">
                <!-- Name -->
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name *"
                    formControlName="Name"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('Name').valid &&
                      registerForm.get('Name').touched
                    "
                    class="help-block"
                    >Name cannot be blank!</span
                  >
                </div>
                <!-- Phone -->
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Phone *"
                    formControlName="Phone"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('Phone').valid &&
                      registerForm.get('Phone').touched
                    "
                    class="help-block"
                    >enter a valid phone number!</span
                  >
                </div>
                <!-- HighestQualification -->
                <div class="form-group">
                  <select
                    class="form-control"
                    formControlName="HighestQualification"
                  >
                    <option class="hidden" value="" disabled selected>
                      Highest Qualification *
                    </option>
                    <option value="PostGraduateInCS">
                      Post Graduate In Computer Science
                    </option>
                    <option value="GraduateInCS">
                      Graduate In Computer Science
                    </option>
                    <option value="Graduate">Graduate In Other Streams</option>
                    <option value="PostGraduate">
                      Post GraduateIn Other Streams
                    </option>
                  </select>
                  <span
                    *ngIf="
                      !registerForm.get('HighestQualification').valid &&
                      registerForm.get('HighestQualification').touched
                    "
                    class="help-block"
                    >Qualification cannot be blank!</span
                  >
                </div>
                <!-- Interested course -->
                <div class="form-group">
                  <select class="form-control" formControlName="Course">
                    <option class="hidden" value="" disabled selected>
                      Interested Course *
                    </option>
                    <option value="MeanStack">MeanStack</option>
                    <option value="CyberSecurity">CyberSecurity</option>
                    <option value="DataScience">DataScience</option>
                    <option value="Robotics">Robotics</option>
                    <option value="DigitalMarketing">DigitalMarketing</option>
                  </select>
                  <span
                    *ngIf="
                      !registerForm.get('Course').valid &&
                      registerForm.get('Course').touched
                    "
                    class="help-block"
                    >course cannot be empty!</span
                  >
                </div>
                <!-- date of birth -->
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="Date of Birth"
                    min="1990-01-01"
                    max="2005-01-01"
                    formControlName="DOB"
                    onfocus="(this.type='date')"
                    onblur="(this.type='text')"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('DOB').valid &&
                      registerForm.get('DOB').touched
                    "
                    class="help-block"
                    >DOB cannot be empty!</span
                  >
                </div>
                <!-- state -->
                <div class="form-group">
                  <select
                    class="form-control"
                    change="selectDistrict(this.value)"
                    formControlName="State"
                  >
                    <option class="hidden" value="" disabled selected>
                      state *
                    </option>
                    <option *ngFor="let state of states" [value]="state">
                      {{ state }}
                    </option>
                  </select>

                  <span
                    *ngIf="
                      !registerForm.get('State').valid &&
                      registerForm.get('State').touched
                    "
                    class="help-block"
                    >state cannot be empty!</span
                  >
                </div>
                <!-- post -->
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Post *"
                    formControlName="Post"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('Post').valid &&
                      registerForm.get('Post').touched
                    "
                    class="help-block"
                    >Post Name cannot be empty!</span
                  >
                </div>
                <!-- sex -->
                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                      <input
                        type="radio"
                        formControlName="Sex"
                        name="gender"
                        value="Male"
                        checked
                      />
                      <span> Male </span>
                    </label>
                    <label class="radio inline">
                      <input
                        type="radio"
                        name="gender"
                        formControlName="Sex"
                        value="Female"
                      />
                      <span>Female </span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- Email field -->
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email *"
                    formControlName="Email"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('Email').valid &&
                      registerForm.get('Email').touched
                    "
                    class="help-block"
                    >enter a valid email!</span
                  >
                </div>
                <!-- image -->

                <div class="form-group form-file">
                  <input
                    type="file"
                    class="form-file-input form-control"
                    (change)="selectImage($event)"
                    accept="image/png, image/gif, image/jpeg"
                  />
                  <!-- <label class="form-file-label" for="image">
                    <span class="form-file-text custom-file-label"
                      >Upload photo...</span
                    >
                  </label> -->

                  <span
                    *ngIf="
                      !registerForm.get('img').valid &&
                      registerForm.get('img').touched
                    "
                    class="help-block"
                    >image cannot be empty!</span
                  >
                </div>

                <!-- PassOfYear -->
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    min="2010"
                    max="2021"
                    step="1"
                    placeholder="when you awarded highest degree "
                    formControlName="PassOfYear"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('PassOfYear').valid &&
                      registerForm.get('PassOfYear').touched
                    "
                    class="help-block"
                    >choose a valid year!</span
                  >
                </div>
                <!-- skillset -->
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="SkillSet"
                    class="form-control"
                    placeholder="skillSets, you can include soft skills too"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('SkillSet').valid &&
                      registerForm.get('SkillSet').touched
                    "
                    class="help-block"
                    >skills cannot be empty</span
                  >
                </div>
                <!-- Employment status -->
                <div class="form-group">
                  <select
                    class="form-control"
                    formControlName="EmploymentStatus"
                  >
                    <option class="hidden" value="" disabled selected>
                      Employment Status
                    </option>
                    <option value="Student">Student</option>
                    <option value="Unemployed">Unemployed</option>
                    <option value="Employed">Employed</option>
                  </select>
                  <span
                    *ngIf="
                      !registerForm.get('EmploymentStatus').valid &&
                      registerForm.get('EmploymentStatus').touched
                    "
                    class="help-block"
                    >status cannot be empty!</span
                  >
                </div>
                <!-- District -->
                <div class="form-group">
                  <!-- <select
                    formControlName="District"
                    class="form-control"
                    id="secondlist"
                  ></select> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="District *"
                    formControlName="District"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('District').valid &&
                      registerForm.get('District').touched
                    "
                    class="help-block"
                    >Invalid District Name!</span
                  >
                </div>
                <!-- PinCode -->
                <div class="form-group">
                  <input
                    type="number"
                    min="100000"
                    max="999999"
                    class="form-control"
                    placeholder="Pin Code *"
                    formControlName="PinCode"
                  />
                  <span
                    *ngIf="
                      !registerForm.get('PinCode').valid &&
                      registerForm.get('PinCode').touched
                    "
                    class="help-block"
                    >Enter valid pin code!</span
                  >
                </div>
                <!-- submit button -->
                <input
                  class="text-center ml-10"
                  [disabled]="registerForm.invalid"
                  type="submit"
                  class="btnRegister"
                  value="Register"
                />
              </div>
              <span
                *ngIf="!registerForm.valid && registerForm.touched"
                class="help-block"
                >enter valid data!</span
              >
              <!-- closed -->
            </div>
            <!-- form closed -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
