<section id="hero">
  <div class="content-wrapper">
    <div class="container">
      <div class="row pad-botm">
        <div class="col-md-12">
          <h4 class="header-line">ADMIN DASHBOARD</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="alert alert-info back-widget-set text-center">
            <i class="fa fa-history fa-5x"></i>
            <h3>500+&nbsp; <i class="fa fa-dollar"></i></h3>
            Amount Pending For Approval
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="alert alert-success back-widget-set text-center">
            <i class="fa fa-bars fa-5x"></i>
            <h3>300+ Tasks</h3>
            Pending For New Events
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="alert alert-warning back-widget-set text-center">
            <i class="fa fa-recycle fa-5x"></i>
            <h3>56+ Calls</h3>
            To Be Made For New Orders
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="alert alert-danger back-widget-set text-center">
            <i class="fa fa-briefcase fa-5x"></i>
            <h3>30+ Issues</h3>
            That Should Be Resolved Now
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-text" data-aos="zoom-out">
    <h2>Welcome to Student Enrollment System</h2>
    <p>
      A robust suite of products enabling you to manage your complete student
      admission process.
    </p>
    <a routerLink="/login" class="btn-get-started scrollto">Get Started</a>
  </div>

  <div class="product-screens">
    <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
      <img
        src="https://www.eschoolnews.com/files/2019/11/STEM-learning.jpg"
        alt=""
      />
    </div>

    <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
      <img
        src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWR1Y2F0aW9ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>

    <div class="product-screen-3" data-aos="fade-up" data-aos-delay="100">
      <img
        src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGVkdWNhdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
  </div>
</section>
<!-- End Hero Section -->
