<div class="register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>Walk with us !</p>
      <button class="btnRegister" type="button" routerLink="/employeelogin">Login</button><br />
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 register-right">
      <ul
        style="width: 200px"
        class="nav nav-tabs nav-justified"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-tab"
            data-toggle="tab"
            routerLink="/register"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            Student
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            id="profile-tab"
            data-toggle="tab"
            routerLink="/employeeregister"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Employee</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="register-heading">Apply As Employee</h3>
          <div class="row register-form">
            <form [formGroup]="employeeForm" (ngSubmit)="registerEmployee()">
              <div class="row register-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name *"
                      formControlName="Name"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('DOB').valid &&
                        employeeForm.get('DOB').touched
                      "
                      class="help-block"
                      >Name cannot be blank!</span
                    >
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      min="1990-01-01"
                      max="2000-01-01"
                      onfocus="(this.type='date')"
                      onblur="(this.type='text')"
                      placeholder="Birth Date"
                      formControlName="DOB"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('DOB').valid &&
                        employeeForm.get('DOB').touched
                      "
                      class="help-block"
                      >Enter Correct D.O.B!</span
                    >
                  </div>
                  <div class="form-group">
                    <select
                      class="form-control"
                      formControlName="HighestQualification"
                    >
                      <option class="hidden" value="" disabled selected>
                        Highest Qualification *
                      </option>
                      <option value="Post Graduate In Computer Science">
                        Post Graduate In Computer Science
                      </option>
                      <option value="PHD In Computer Science">
                        PHD In Computer Science
                      </option>
                    </select>
                    <span
                      *ngIf="
                        !employeeForm.get('HighestQualification').valid &&
                        employeeForm.get('HighestQualification').touched
                      "
                      class="help-block"
                      >Qualification cannot be blank</span
                    >
                  </div>
                  <!-- State -->
                  <div class="form-group">
                    <select class="form-control" formControlName="State">
                      <option class="hidden" value="" disabled selected>
                        State *
                      </option>

                        <option *ngFor="let State of states" [value]="State">{{State}}</option>
                    </select>
                    <span
                      *ngIf="
                        !employeeForm.get('State').valid &&
                        employeeForm.get('State').touched
                      "
                      class="help-block"
                      >State cannot be empty!</span
                    >
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Post *"
                      formControlName="Post"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('Post').valid &&
                        employeeForm.get('Post').touched
                      "
                      class="help-block"
                      >Post Name Cannot be blank!</span
                    >
                  </div>
                  <!-- Gender -->
                  <div class="form-group">
                    <div class="maxl">
                      <label class="radio inline">
                        <input
                          type="radio"
                          formControlName="Gender"
                          Name="Gender"
                          value="male"
                          checked
                        />
                        <span> Male </span>
                      </label>
                      <label class="radio inline">
                        <input
                          type="radio"
                          Name="Gender"
                          formControlName="Gender"
                          value="female"
                        />
                        <span>Female </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="Email"
                      class="form-control"
                      placeholder="Email *"
                      formControlName="Email"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('Email').valid &&
                        employeeForm.get('Email').touched
                      "
                      class="help-block"
                      >Enter Valid Email!</span
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      Name="txtEmpPhone"
                      class="form-control"
                      placeholder="Your Phone *"
                      formControlName="Phone"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('Phone').valid &&
                        employeeForm.get('Phone').touched
                      "
                      class="help-block"
                      >Enter valid Phone number!</span
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="Password"
                      class="form-control"
                      placeholder="Password *"
                      formControlName="Password"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('Password').valid &&
                        employeeForm.get('Password').touched
                      "
                      class="help-block"
                      >Enter Valid Password!</span
                    >
                  </div>
                  <!-- district -->
                  <div class="form-group">
                    <input
                      class="form-control"
                      placeholder="district *"
                      formControlName="district"
                      type="text"
                    />
                    <span
                      *ngIf="
                        employeeForm.get('district').invalid &&
                        employeeForm.get('district').touched
                      "
                      class="help-block"
                      >District cannot be blank !</span
                    >
                  </div>
                  <!-- pincodde -->
                  <div class="form-group">
                    <input
                      placeholder="enter pincode "
                      type="number"
                      class="form-control"
                      formControlName="pinCode"
                    />
                    <span
                      *ngIf="
                        !employeeForm.get('pinCode').valid &&
                        employeeForm.get('pinCode').touched
                      "
                      class="help-block"
                      >Enter Valid pin code !</span
                    >
                  </div>
                  <!-- button -->
                  <button type="submit" class="btnRegister">register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
