.main{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
}
.center{
    background-color:cornsilk;
    width: 100%;
    height: 1550px;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
}