#section {
    margin-top: 3.75rem;
    /* height: 100vh; */
    /* height: 75vh; */
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}
#section {
  
    background: #67b26f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4ca2cd,
      #67b26f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4ca2cd,
      #67b26f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    
    font-family: "Lato", sans-serif;
    color: #000;
  }
th,td{
    text-align: center;
}