<section id="section">
  <div class="container-fluid">
    <h4 style="text-align: center;">EMPLOYEE LIST</h4>
    <!-- spinner -->
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <table
      class="
        table
        table-hover
        table-primary
        table-responsive-sm
        table-responsive-md
        table-responsive-lg
        table-bordered
      "
    >
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>D.O.B</th>
          <th>Sex</th>
          <th>Qualification</th>
          <th>skills</th>
          <th>State</th>
          <th>Full Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Employee of Employees">
          <td>{{ Employee.Name }}</td>
          <td>{{ Employee.DOB | date }}</td>
          <td>{{ Employee.Gender }}</td>
          <td>{{ Employee.HighestQualification }}</td>
          <td>{{Employee.SkillSet}}</td>
          <td>{{ Employee.State }}</td>
          <td>
            <button
              class="btn btn-sm btn-warning"
              style="cursor: pointer; margin-left: 20px"
              *ngIf="Employee.Name"
            >
              <a [routerLink]="['/employees', Employee._id]">View</a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
